<section id="faq" style="padding: 2px;margin: 11px;">
    <hr class="star-dark mb-5">
    <h2 class="text-uppercase text-center" style="font-size: 48;font-weight: bold;color: var(--bs-indigo);">{{ page.faq.title }}</h2><!-- Start: br --><br ><!-- End: br -->
    <div class="container">
        <div class="faqelement">
            <button class="btn btn-primary faq on" type="button" style="box-shadow: none;margin-bottom: 18px;">{{ page.faq.item_1.q }}&nbsp;</button>
            <div class="panel">
                <p>{{ page.faq.item_1.a }}</p>
            </div>
            <button class="btn btn-primary faq on" type="button" style="box-shadow: none;">{{ page.faq.item_2.q }}&nbsp;</button>
            <div class="panel">
                <p>{{ page.faq.item_2.a }}</p>
            </div>
        </div><!-- Start: br --><br ><!-- End: br -->
        <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">{{ page.faq.item_3.q }}&nbsp;</button>
            <div class="panel">
                <p>{{ page.faq.item_3.a }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="star-dark mb-5">
    </div>
</section>