<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
    <div class="container-fluid"><a class="navbar-brand d-md-none" href="/"><img src="assets/{{page.layout}}/img/photo_2022-09-23_16-25-17.webp" width="100" height="100" alt="Logo"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse d-md-flex" id="navcol-1">
            <ul class="navbar-nav d-flex justify-content-evenly mx-auto w-100">
                <li class="nav-item"><a class="nav-link text-center" href="{{ site.data.links.link | sample }}"><i class="fas fa-home"></i>&nbsp;{{ alt.keyword | sample }}</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link text-center" href="{{ site.data.links.link | sample }}"><i class="fas fa-chart-bar"></i>&nbsp;{{ alt.keyword | sample }}</a></li>
            </ul><a class="navbar-brand d-none d-md-block me-0"><img src="assets/{{page.layout}}/img/photo_2022-09-23_16-25-17.webp" width="100" height="100" alt="Logo"></a>
            <ul class="navbar-nav d-flex justify-content-evenly mx-auto w-100">
                <li class="nav-item"><a class="nav-link text-center" href="{{ site.data.links.link | sample }}"><i class="fas fa-cloud-download-alt"></i>&nbsp;{{ alt.keyword | sample }}</a></li>
                <li class="nav-item"></li>
                <li class="nav-item pb-2 pb-md-0"><a class="nav-link text-nowrap text-center" href="{{ site.data.links.link | sample }}"><i class="fas fa-at"></i>&nbsp;{{ alt.keyword | sample }}</a></li>
            </ul>
        </div>
    </div>
</nav>