<nav class="navbar navbar-expand-lg">
    <div class="container align-items-center" style="background: var(--bs-gray-100);">
        <a class="navbar-brand" href="index.html">
            <img src="assets/img/{{ page.shop }}/{{ page.layout }}/d03170185184b7bc03f3d21b23834b0a%20(1).webp" alt="{{ alt.keyword | sample }}" width="375" height="640" style="height: 75px;width: 75px;">
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu-alt"></span>
        </button>
        <div class="collapse navbar-collapse text-center text-lg-left" id="navbarmain">
            <ul class="nav ml-auto">
                <li class="nav-item"><a class="nav-link smoth-scroll" href="{{ site.data.links.link | sample }}"> {{ alt.keyword | sample }} </a></li>
                <li class="nav-item"><a class="nav-link smoth-scroll" href="{{ site.data.links.link | sample }}"> {{ alt.keyword | sample }} </a></li>
                <li class="nav-item"><a class="nav-link smoth-scroll" href="{{ site.data.links.link | sample }}"> {{ alt.keyword | sample }} </a></li>
                <li class="nav-item"><a class="nav-link smoth-scroll" href="{{ site.data.links.link | sample }}"> {{ alt.keyword | sample }} </a></li>
            </ul>
        </div>
    </div>
</nav>